@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Lora:wght@700&family=Montserrat:wght@300;400&family=Nunito&family=Varela+Round&display=swap');
*{
  padding: 0px;
  margin: 0px;  
  list-style: none;
  /* font-family: 'Nunito', sans-serif; */
}